<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ child.first_name }} {{ child.last_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Головна</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% for orphanage in orphanages %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'category_filter' orphanage.id %}">{{ orphanage.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5 flex-grow-1">
        <div class="row">
            <div class="col-md-5">
                {% if child.image %}
                    <img src="{{ child.image.url }}" class="img-fluid rounded" alt="Фото">
                {% else %}
                    <div class="bg-secondary text-white d-flex justify-content-center align-items-center rounded" style="height: 400px;">
                        <span>Немає фото</span>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-7">
                <h2>{{ child.first_name }} {{ child.last_name }}</h2>
                <h4 class="text-success">{{ child.price }} грн</h4>
                <ul class="list-group list-group-flush mb-4 mt-3">
                    <li class="list-group-item"><strong>Вік:</strong> {{ child.age }} років</li>
                    <li class="list-group-item"><strong>Заклад:</strong> {{ child.orphanage.name }}</li>
                </ul>

                <button class="btn btn-success btn-lg">Купити (Неактивно)</button>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg ms-2">Повернутися назад</a>
            </div>
        </div>
    </div>

</body>
</html>